.tags {
    display: flex;
    align-items: center;
    padding: 2px 20px;
    margin: 20px 10px 0 0;
    height: 25px;
    font-size: 14px;
    background: #FF6060;
    color: white;
    border-radius: 10px;
}
@media screen and (max-width: 932px){
    .tags {
        padding: 2px 30px;
        margin: 10px 10px 0 0;
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
    }
}