.stars {
    display: flex;
    font-size: 30px;
    gap: 10px;
}
.span-color {
    color: #FF6060;
}
.span-uncolor {
    color: #E3E3E3;
}
@media screen and (max-width: 894px) {    
    .stars {
        font-size: 18px;
        gap: 6px;
    }
}