#top-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#right-side-logement{
    width: 100%;
}
#h1-logement,#h2-logement{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    color: #FF6060;
}
#h1-logement{
    font-size: 36px;
}
#h2-logement{
    font-size: 18px;
}
#div-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.tags {
    display: flex;
    align-items: center;
    padding: 2px 20px;
    margin: 20px 10px 0 0;
    height: 25px;
    font-size: 14px;
    background: #FF6060;
    color: white;
    border-radius: 10px;
}
#left-side-logement {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
    width: 60%;
}
#profil-propio{
    display: flex;
    align-items: center;
    gap: 10px;
}
#left-side-logement  p {
    display: flex;
    text-align: right;
    font-size: 18px;
    width: 93px;
    height: 52px;
    color: #FF6060;
    align-items: center;
}
#left-side-logement  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.stars {
    display: flex;
    font-size: 30px;
    gap: 10px;
}
.span-color {
    color: #FF6060;
}
.span-uncolor {
    color: #E3E3E3;
}
#collapse-logement {
    display: flex;
    flex-direction: row;
    gap: 76px;
    width: 100%;    
}
.description-content{
    list-style: none;
}
#collapse-logement .collapse{
    font-size: 18px;
    border-radius: 10px;    
}
#collapse-logement .div-collapse{
    font-size: 18px;
    line-height: 142.6%;
    padding-bottom: 30px;
    border-radius:  0  0 10px 10px;
}
@media screen and (max-width: 767px) {
    #top-description {
        flex-direction: column;
        margin-top: 15px;
    }
    #h1-logement{
        font-size: 18px;
    }
    #h2-logement{
        font-size: 14px;
        margin-top: 10px;
    }
    .tags {
        padding: 2px 30px;
        margin: 10px 10px 0 0;
        height: 18px;
        font-size: 10px;
        border-radius: 5px;
    }
    #left-side-logement {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
        width: auto;
        margin-top: 15px;
    }
    #left-side-logement  p {
        font-size: 12px;
        width: 53px;
    }
    #left-side-logement  img {
        width: 32px;
        height: 32px;
    }
    .stars {
        font-size: 18px;
        gap: 6px;
    }
    #collapse-logement {
        flex-direction: column;
        gap: 0;
    }
    #collapse-logement .collapse{
        font-size: 13px;
        border-radius: 5px;    
    }
    #collapse-logement .div-collapse{
        font-size: 12px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-radius:  0  0 5px 5px;
    }
}



