main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px 0 100px;
}
#main-top-home{
    width: 100%;
    height: 223px;   
    margin-top: 60px; 
    background: url(../../../public/assets/image/banner-home.jpg) center / cover no-repeat;
    border-radius: 25px;
}
.main-top-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);    
}
#home-h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: #fff;
}
#main-bottom{    
    width: 95%;
    display: grid;
    justify-items: center;
    padding: 56px 2.5%;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));  
    column-gap: 2%; 
    grid-auto-rows: 340px;
    grid-row-gap: 45px;      
    margin-top: 43px;
    background: #F7F7F7;
    border-radius: 25px;
}
@media screen and (max-width: 932px){
    main{
        margin: 0 20px 0 20px
    }
    #main-top-home{
        height: 111px;   
        margin-top: 20px; 
        border-radius: 10px;
    }
    #main-bottom{
        width: 100%;
        grid-template-columns: repeat(1, 100%);
        grid-auto-rows: 255px;
        grid-row-gap: 20px; 
        background: none;
        margin-top: 22px;
        padding: 0;
    }
    #home-h1{
        width: 65%;
        font-size: 24px;
        margin-left: 16px;
        line-height: 100%;
    }
    .main-top-overlay{
        justify-content: start;
        align-items: center;
        border-radius: 10px;
    }
}