@font-face {
    font-family: "Montserrat";
    src: url(../../public/assets/font/Montserrat-VariableFont_wght.ttf)format('truetype');
}

h2{
    color:yellow;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
}